demo/data
/*.mp4
logs/
re3_utils/__pycache__
re3_utils/util/__pycache__
re3_utils/util/__pycache__
__pycache__
tracker/__pycache__/
best.pt
# training/datasets/imagenet_video/provided_small/
